body {
    background: rgb(180, 198, 137);
}

.div1 {
    width: max-content;
    height: auto;
}

.first-txt {
    position: absolute;
    top: 20px;
    left: 50px;
}

h1 {
    text-align: center;
}

h2 {
    color: rgb(82, 121, 110)
}

ul {
    color: rgb(62, 84, 74);
    line-height: 1.8;
}