body {
    background: rgb(180, 198, 137);
}

.div1 {
    width: auto;
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.first-txt {
    position: absolute;
    text-align: center;
    top: 100px;
    color: white;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    color: rgb(82, 121, 110)
}

ul {
    color: rgb(62, 84, 74);
    line-height: 1.8;
}