body {
    background: rgb(180, 198, 137);
}

.div1 {
    width: max-content;
    height: auto;
    background-image: url("https://mediaproxy.salon.com/width/1200/height/675/https://media.salon.com/2022/05/cats-party-0516221.jpg");
}

h1 {
    text-align: center;
}

h2 {
    color: rgb(82, 121, 110)
}

ul {
    color: rgb(62, 84, 74);
    line-height: 1.8;
}